<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./components/head %>
</head>
<body class="container">
<main>
    <div class="card">
      <div class="card-header">
        <%- include('./components/header', {activeMenu: ''}); %>
      </div>
      <div class="card-body text-center">
            <div class="jumbotron">
                <h1>404 - Page not found</h1>
            </div>
      </div>
    </div>
  </main>
<footer>
    <% include ./components/footer %>
</footer>

</body>
</html>